.dropbox
desktop.ini

*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.toc
*.synctex.gz
*.snm
*.vrb
*~
*.nav
*.backup
*.bak
*.fdb_latexmk
*.fls
*.bcf
*.run.xml

*.spl

*.swp
*.swo

*.brf

*.pdf
